<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SkyCast</title>
        <style type="text/css">
            @font-face {
                font-family: 'Archivo', sans-serif;
                src: url('https://fonts.googleapis.com/css?family=Archivo')
            }

            h1, h2, h3, body {
                font-family: 'Archivo', sans-serif;
            }

            div {
                position: fixed;
                top: 50%;
                left: 50%;
                margin-top: -100px;
                margin-left: -200px;
            }

            body {
                background-image: url('../static/bg.jpg');
                background-size: 100%;
                background-repeat: no-repeat;
            }

        </style>
    </head>
    <body>
        <div>
            <H1>{{ summary }}</H1>
            <H3>Temperature: {{ temp }}</H3>
            <H3>Humidity: {{ humidity }}</H3>
            <H3>Precipitation: {{ precip }}</H3>
            <p style="font-style: italic">{{ location }}</p>
            <a href="{{request.META.HTTP_REFERER}}"><< Back</a>
        </div>
    </body>
</html>