<!DOCTYPE html>
<html lang="en">
<body>
<H1>Welcome to SkyCast!</H1>
<form method="POST" action="/weather">
{% csrf_token %}
<input title="location_form" type="text" name="textfield" placeholder="Enter your location...">
<style>
    body {
        background-image: url('../static/bg.jpg');
        background-size: 100%;
        background-repeat: no-repeat;

        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -200px;
    }
</style>
<button type="submit">Search</button>
</form>
</body>
</html>